{% extends "layouts/dashboard.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}



{% block title_page %}{% trans "Company" %} - {{ action|title }}{% endblock title_page %}
{% block toolbar_title %}{% trans "Edit Company" %}{% endblock %}

{% block content %}
<main class="container-xxl">
    <form class="form d-flex flex-column flex-lg-row" method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}

        <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
            <div class="card card-flush py-4">
                <div class="card-header">
                    <div class="card-title">
                        <h2>{% trans "Logo" %}</h2>
                    </div>
                </div>
                <div class="card-body text-center pt-0">
                    <!-- Image input -->
                    <div class="image-input image-input-outline {% if not form.instance.logo %}image-input-empty{% endif %}" data-kt-image-input="true" style="background-image: url('{% static "assets/media/svg/files/blank-image.svg" %}')">
                        <!-- Image preview wrapper -->
                        <div class="image-input-wrapper w-150px h-150px" {% if form.instance.logo %}style="background-image: url('{{ form.instance.logo.url }}')"{% endif %}></div>

                        <!-- Change button -->
                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="{% trans 'Change logo' %}">
                            <i class="ki-duotone ki-pencil fs-7">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                            <input type="file" name="logo" accept=".png,.jpg,.jpeg" />
                            <input type="hidden" name="logo-remove" />
                        </label>

                        <!-- Cancel button -->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="{% trans 'Cancel logo' %}">
                            <i class="ki-duotone ki-cross fs-2">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                        </span>

                        <!-- Remove button -->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="{% trans 'Remove logo' %}">
                            <i class="ki-duotone ki-cross fs-2">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                        </span>
                    </div>

                    <!-- Help text -->
                    <div class="text-muted fs-7 mt-3">{% trans "Set the company logo. Only *.png, *.jpg and *.jpeg image files are accepted" %}</div>

                    <!-- Errors -->
                    {% if form.logo.errors %}
                        <div class="fv-plugins-message-container invalid-feedback d-block mt-2">
                            {{ form.logo.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="d-flex flex-column flex-row-fluid">
            <div class="card mb-5 mb-xl-10">
                <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_company_details" aria-expanded="true" aria-controls="kt_company_details">
                    <div class="card-title m-0">
                        <h3 class="fw-bold m-0">{% trans "Company Details" %}</h3>
                    </div>
                </div>

                <div id="kt_company_details" class="collapse show">
                    <div class="card-body border-top p-9">
                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label required fw-semibold fs-6">
                                {{ form.tax_id.label }}
                            </label>
                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                {{ form.tax_id }}
                                {% if form.tax_id.errors %}
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                        {{ form.tax_id.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label required fw-semibold fs-6">
                                {{ form.name.label }}
                            </label>
                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                {{ form.name }}
                                {% if form.name.errors %}
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                        {{ form.name.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label required fw-semibold fs-6">
                                {{ form.email.label }}
                            </label>
                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                        {{ form.email.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">
                                {{ form.phone.label }}
                            </label>
                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                {{ form.phone }}
                                {% if form.phone.errors %}
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                        {{ form.phone.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">
                                {{ form.domain.label }}
                            </label>
                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                {{ form.domain }}
                                {% if form.domain.errors %}
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                        {{ form.domain.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-5 mb-xl-10">
                <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_company_address" aria-expanded="true" aria-controls="kt_company_address">
                    <div class="card-title m-0">
                        <h3 class="fw-bold m-0">{% trans "Address Information" %}</h3>
                    </div>
                </div>

                <div id="kt_company_address" class="collapse show">
                    <div class="card-body border-top p-9">
                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">
                                {{ form.address.label }}
                            </label>
                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                {{ form.address }}
                                {% if form.address.errors %}
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                        {{ form.address.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">
                                {{ form.country.label }}
                            </label>
                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                {{ form.country }}
                                {% if form.country.errors %}
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                        {{ form.country.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">
                                {{ form.region.label }}
                            </label>
                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                {{ form.region }}
                                {% if form.region.errors %}
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                        {{ form.region.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">
                                {{ form.subregion.label }}
                            </label>
                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                {{ form.subregion }}
                                {% if form.subregion.errors %}
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                        {{ form.subregion.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">
                                {{ form.city.label }}
                            </label>
                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                {{ form.city }}
                                {% if form.city.errors %}
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                        {{ form.city.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-5 mb-xl-10">
                <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_company_compliance" aria-expanded="true" aria-controls="kt_company_compliance">
                    <div class="card-title m-0">
                        <h3 class="fw-bold m-0">{% trans "Compliance Settings" %}</h3>
                    </div>
                </div>

                <div id="kt_company_compliance" class="collapse show">
                    <div class="card-body border-top p-9">
                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">
                                {{ form.contribution_amount.label }}
                            </label>
                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                {{ form.contribution_amount }}
                                {% if form.contribution_amount.errors %}
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                        {{ form.contribution_amount.errors }}
                                    </div>
                                {% endif %}
                                <div class="text-muted fs-7 mt-2">{% trans "Monthly contribution amount for partners" %}</div>
                            </div>
                        </div>

                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">
                                {{ form.social_security_amount.label }}
                            </label>
                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                {{ form.social_security_amount }}
                                {% if form.social_security_amount.errors %}
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                        {{ form.social_security_amount.errors }}
                                    </div>
                                {% endif %}
                                <div class="text-muted fs-7 mt-2">{% trans "Monthly social security amount for partners" %}</div>
                            </div>
                        </div>

                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">
                                {{ form.contribution_due_day.label }}
                            </label>
                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                {{ form.contribution_due_day }}
                                {% if form.contribution_due_day.errors %}
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                        {{ form.contribution_due_day.errors }}
                                    </div>
                                {% endif %}
                                <div class="text-muted fs-7 mt-2">{% trans "Day of the month when contribution payments are due" %}</div>
                            </div>
                        </div>

                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">
                                {{ form.social_security_due_day.label }}
                            </label>
                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                {{ form.social_security_due_day }}
                                {% if form.social_security_due_day.errors %}
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                        {{ form.social_security_due_day.errors }}
                                    </div>
                                {% endif %}
                                <div class="text-muted fs-7 mt-2">{% trans "Day of the month when social security payments are due" %}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer d-flex justify-content-end py-6 px-9">
                <a href="{% if form.instance.pk %}{% url 'apps.customers:company-detail' form.instance.pk %}{% else %}#{% endif %}" class="btn btn-light btn-active-light-primary me-2">
                    {% trans "Cancel" %}
                </a>
                <button type="submit" class="btn btn-primary px-6">
                    {% trans "Save Changes" %}
                </button>
            </div>
        </div>
    </form>
</main>
{% endblock content %}

{% block extra_js %}
{{ form.media.js }}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Image input functionality
        const imageInput = document.querySelector('[data-kt-image-input="true"]');
        if (imageInput) {
            const input = imageInput.querySelector('input[type="file"]');
            const wrapper = imageInput.querySelector('.image-input-wrapper');
            const cancelBtn = imageInput.querySelector('[data-kt-image-input-action="cancel"]');
            const removeBtn = imageInput.querySelector('[data-kt-image-input-action="remove"]');
            const hiddenInput = imageInput.querySelector('input[name="logo-remove"]');

            if (input) {
                input.addEventListener('change', function(e) {
                    const file = e.target.files[0];
                    if (file) {
                        const reader = new FileReader();
                        reader.onload = function(e) {
                            wrapper.style.backgroundImage = `url(${e.target.result})`;
                            imageInput.classList.remove('image-input-empty');
                        };
                        reader.readAsDataURL(file);
                    }
                });
            }

            if (cancelBtn) {
                cancelBtn.addEventListener('click', function(e) {
                    e.preventDefault();
                    input.value = '';
                    // Reset to original image if editing, or empty if new
                    {% if form.instance.logo %}
                        wrapper.style.backgroundImage = "url('{{ form.instance.logo.url }}')";
                        imageInput.classList.remove('image-input-empty');
                    {% else %}
                        wrapper.style.backgroundImage = '';
                        imageInput.classList.add('image-input-empty');
                    {% endif %}
                    if (hiddenInput) hiddenInput.value = '';
                });
            }

            if (removeBtn) {
                removeBtn.addEventListener('click', function(e) {
                    e.preventDefault();
                    input.value = '';
                    wrapper.style.backgroundImage = '';
                    imageInput.classList.add('image-input-empty');
                    if (hiddenInput) hiddenInput.value = '1';
                });
            }
        }
    });
</script>
{% endblock extra_js %}
